{% extends "base.html" %}
{% block content %}
        <section class="inicio" id="inicio">
            <h1 class="inicio-nombre">
                <span class="degrade">Lucas Onyszczyk</span>
            </h1>
            <p class="inicio-desc">portafolio</p>
        </section>

        <section class="sobre-mi" id="sobre-mi">
            <h2 class="section-titulo">Sobre mi</h2>
            <ul class="datos-lista">
                <li> Nombre: Lucas Onyszczyk</li>
                <li> Edad: 16 años</li>
                <li> Curso: 4to año de secundaria</li>
            </ul>

            <h3 class="habilidades-titulo">Habilidades</h3>
            <ul class="habilidades-lista">
                <li class="burbuja"> Python</li>
                <li class="burbuja"> MySQL</li>
                <li class="burbuja"> HTML</li>
                <li class="burbuja"> CSS</li>
            </ul>
        </section>

        <section class="proyectos" id="proyectos">
            <h2 class="section-titulo">Proyectos</h2>
            <p class="section-sub">proyectos en lo que trabaje.</p>

            <div class="proyectos-grid">
                <article class="proyectos-cartas">
                <img class="proyectos-img"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-UlvVWRHQo96qgw8Mbqa5OwBiEBAlqX25fX-LH1sONA&s=10"
                    width="600" height="360" loading="lazy">
                <div class="proyectos-body">
                    <h3><i class="bi bi-spotify"></i> Spotify</h3>
                    <p>Un proyecto en el que intente hacer una reproductor de musica.</p>
                    <a class="proyectos-link" href="https://github.com/lonik2/spotify2" target="_blank" rel="noopener">
                    Ver repo
                    </a>
                </div>
                </article>

                <article class="proyectos-cartas">
                <img class="proyectos-img"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFcFsxXVDn8EuoKcj9xkPoTKbfUqUpxGU8R9c87s0K&s=10"
                    width="600" height="360" loading="lazy">
                <div class="proyectos-body">
                    <h3><i class="bi bi-controller"></i> Pokémon</h3>
                    <p>Trabajo práctico sobre Pokémon.</p>
                    <a class="proyectos-link" href="https://github.com/lonik2/pokemonTP" target="_blank" rel="noopener">
                    Ver repo
                    </a>
                </div>
                </article>

            </div>
        </section>

        <section class="contacto" id="contacto">
            <h2 class="section-titulo">Contacto</h2>

            <ul class="contactos-grid">
                <li><a class="contactos-carta" href="https://mail.google.com/mail/?view=cm&fs=1&to=lonyszczyk@alumno.huergo.edu.ar">
                <i class="bi bi-envelope"></i><span>Email</span>
                </a></li>
                <li><a class="contactos-carta" href="https://www.instagram.com/lucasony_/" target="_blank" rel="noopener">
                <i class="bi bi-instagram"></i><span>Instagram</span>
                </a></li>
                <li><a class="contactos-carta" href="https://www.tiktok.com/@lucas_ony365" target="_blank" rel="noopener">
                <i class="bi bi-tiktok"></i><span>TikTok</span>
                </a></li>
                <li><a class="contactos-carta" href="https://github.com/lonik2" target="_blank" rel="noopener">
                <i class="bi bi-github"></i><span>Github</span>
                </a></li>
            </ul>
        </section>
    
{% endblock %}